
.btn-box{
    display: block;
    height: 1.04rem;
    width: auto;
    padding: .12rem .31rem;
}
.btn-box .action-btn{
    background-image:  linear-gradient(90deg,#ff7310,#fe3f00);
    border-radius: .39rem;
    width: 100%;
    line-height: .8rem;
    text-align: center;
    font-size: .3rem;
    color: #fff;
}